.scroll-container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

section {
	height: 100vh;
	scroll-snap-align: center;
}

::-webkit-scrollbar { 
	display:none; 
}

/*CLICK ME BUTTON*/
.hero {
	/*text colors*/
	color: white;

	/* Sizing */
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
}

.hero h1 {
	font-size: 5em;

	margin-top: 0;
	margin-bottom: 0.5em;
}

.hero .btn {
	display: block;
	width: 200px;

	padding: 1em;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;

	color: white;
	text-decoration: none;
	font-size: 1.5em;

	border: 3px solid white;
	border-radius: 20px;
}

.hero .btn:hover {
	box-shadow: inset 0 0 0 2em rgb(107, 66, 41);
	color: white;
	font-weight: 500;
	transition: .5s;

	border:dotted;
}

.stuff {
	background-color: white;
}


.stuff {
	/*text colors*/
	color: rgb(0, 0, 0);

	/* Sizing */
	width: 100vw;
	height: 100vh;
	
	/* Flexbox Stuff*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1, h2 {
color: #886c54;
}

li {
  margin-left: 1px;
  list-style-type:circle;
}
