body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar { 
	display:none; 
}

body {
    display: block;
    margin: 8px;
}

 ::after, ::before {
    box-sizing: border-box;
}

/* For MAIN Container */

div {
    display: block;
    unicode-bidi: isolate;
}

.container {
    max-width: 960px;
    background-color: white;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container.checkout {
    border-radius: 30px;
    margin-top: 15px;
}

body {
    --tfc-dark-mode-text-primary: #e4e4e7;
    --tfc-dark-mode-text-secondary: #71717a;
    --tfc-dark-mode-bg-primary: #27272a;
    --tfc-dark-mode-bg-primary-2: #3f3f46;
    --tfc-dark-mode-bg-secondary: #52525b;
    --tfc-sidebar-width: 288px;
}

body {
    padding-bottom: 1rem;
  }
  
